* {
    box-sizing: border-box;
}

body {
    background: #4793e4;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    /*grid-template-rows: repeat(8, 1fr);*/
    margin-top: 50px;
    height: 320px;
    width: 320px;
    background-color: #bbb7b7;
}

.gameboard > div {
    width: 40px;
    aspect-ratio: 1/1;
}

.black {
    background-color: rgba(60, 52, 52, 0.886);
}
